<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iteso.raiteiteso.gui" >
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ActivityLogin"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityCreateAccount"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ActivityMainWithCar"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ActivityMainWithOutCar"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ActivityRaiteDetail"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ActivityEditData"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>
